html, body {
    background: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* todo: check */
    text-align: center;
    margin: 0;
}
html.moving {
    cursor: move;
    pointer-events: none;
}

a {
    color: skyblue;
}

/* editor */

.editor {
    position: relative;
    width: 90%;
    margin: auto;
}

.editor > div {
    filter: drop-shadow(0 0 5px black);
}

#image {
    width: 100%;
    display: block;
}

/* handles */

.corner,
.endpoint {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 30%;
    cursor: move;
    overflow: hidden;
}
.endpoint {
    box-shadow: inset 0 0 0 15px cyan;
}

.corner::before,
.corner::after {
    content: '';
    background: yellow;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.corner.left::before {
    width: 50%;
}
.corner.right::before {
    left: 50%;
    width: 50%;
}
.corner.top::after {
    height: 50%;
}
.corner.bottom::after {
    top: 50%;
    height: 50%;
}

/* lattices */

#grid {
    position: absolute;
    display: grid;
    pointer-events: none;
}

#grid div {
    position: relative;
}

#grid div::before,
#grid div::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 1px;
    width: 8%;
    max-width: 20px;
    height: 50%;
    background: yellow;
}
#grid div::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
#grid div::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

#line {
    color: cyan;
    font-family: 'Courier New', Courier, monospace; /* todo: check */
    font-size: 18px;
    text-align: center;
    position: absolute;
    pointer-events: none;
}

#line div {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 2px dotted cyan;
}

#line div::after {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
#line div:nth-child(1)::after {content: 'A';}
#line div:nth-child(2)::after {content: 'B';}
#line div:nth-child(3)::after {content: 'C';}
#line div:nth-child(4)::after {content: 'D';}
#line div:nth-child(5)::after {content: 'E';}
#line div:nth-child(6)::after {content: 'F';}
#line div:nth-child(7)::after {content: 'G';}
#line div:nth-child(8)::after {content: 'H';}
#line div:nth-child(9)::after {content: 'I';}
#line div:nth-child(10)::after {content: 'J';}
#line div:nth-child(11)::after {content: 'K';}
#line div:nth-child(12)::after {content: 'L';}
#line div:nth-child(13)::after {content: 'M';}
#line div:nth-child(14)::after {content: 'N';}
#line div:nth-child(15)::after {content: 'O';}
#line div:nth-child(16)::after {content: 'P';}
#line div:nth-child(17)::after {content: 'Q';}
#line div:nth-child(18)::after {content: 'R';}
#line div:nth-child(19)::after {content: 'S';}
#line div:nth-child(20)::after {content: 'T';}
#line div:nth-child(21)::after {content: 'U';}
#line div:nth-child(22)::after {content: 'V';}
#line div:nth-child(23)::after {content: 'W';}
#line div:nth-child(24)::after {content: 'X';}
#line div:nth-child(25)::after {content: 'Y';}
#line div:nth-child(26)::after {content: 'Z';}

/* dials */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
}

.jsscrub {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 50px;
    height: 30px;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 4px 1px black;
}
#gc {
    background: yellow;
}
#gc.not-wide-enough {
    background: red;
    font-weight: normal;
    text-decoration: line-through;
}
#lc {
    background: cyan;
}

#gc-bound {
    background: yellow;
    color: black;
    font-family: 'Comic Sans MS', cursive; /* todo: check */
    font-size: 16px;
    text-align: center;
    position: absolute;
    width: 25px;
    height: 20px;
    line-height: 20px;
    transform: translate(0, -50%) rotate(-15deg);
    transform-origin: -20px;
    margin-left: 20px;
    border-radius: 5px;
    pointer-events: none;
}
#gc-bound.hidden {
    display: none;
}

#gc-bound::after {
    content: attr(data-truecount);
}
